/*  your css code here. If applicable */
body{
	background-color:#f6f6f6;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
p{
	font-weight:bold;
}
#left{
	width:450px;
	margin-top:70px;
	display:inline-block;
}
form{
	background-color:white;
	display:flex;
	width:300px;
	flex-direction:column;
	gap:10px;
	padding:20px;
	box-shadow:0 0 10px #ccc;
}
input{
	border:1px solid #ccc;
	border-radius:5px;
	padding:10px;
}
.left, img{
	width:200px;
	height:150px;
	
	margin-left:50px
}
#btn{
	padding:10px 20px;
	background-color:#1877f2;
	color:white;
}
a{
	text-decoration:none;
	color:#1877f2;
}
.signup{
	background-color:#42b72a;
	color:white
}
